<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form method="POST">
    {% csrf_token %}
    <p>
        <label>Введите названия блюда</label><br>
        <input type="text" name="name" value="{{person.name}}"/>
    </p>
    <p>
        <label>Введите ингредиенты</label><br>
        <input type="text" name="ingredients" value="{{person.ingredients}}"/>
    </p>
    <p>
        <label>Добавьте картинку</label><br>
        <input type="file" name="picture" value="{{person.picture}}"/>
    </p>
    <p>
        <label>Укажите цену</label><br>
        <input type="number" name="price" value="{{person.price}}"/>
    </p>
    <p>
        <label>Укажите категорию</label><br>
        <input type="text" name="category" value="{{person.category}}"/>
    </p>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>